---
---

@import "{{ site.theme }}";

* {

}

body {
  background: #fff;
}

a {
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.inner {
  width: 100ex;
}

#container {
  background: transparent;
}

a.file {
  color: transparent;
  text-shadow: none;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  margin-right: 4px;
}

a.tei {
  background-image: url(icon_tei.svg);
}

a.html {
  background-image: url(icon_html.svg);
}

a.epub {
  background-image: url(icon_epub.svg);
}

a.mobi {
  background-image: url(icon_mobi.svg);
}

a.docx {
  background-image: url(icon_docx.svg);
}

a.pdf {
  background-image: url(icon_pdf.svg);
}

a.a5 {
  background-image: url(icon_pdf-a5.svg);
}

a.brochure {
  background-image: url(icon_pdf-brochure.svg);
}
