---
---

@import "{{ site.theme }}";

* {

}

body {
  background: #fff;
}

a {
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.inner {
  width: 100ex;
}

#container {
  background: transparent;
}

a.home {
  display: block;
  float: left;
  color: transparent;
  text-shadow: none;
  vertical-align: middle;
  width: 96px;
  height: 96px;
  background-size: 96px 96px;
  background-image: url(gueux_home.jpg);
  margin-right: 12px;
}

/* titre de livre */
blockquote h2 {
  font-family: serif;
  font-size: 32px;
  font-weight: 100;
  font-style: italic;
}

a.mime,
b.mime {
  display: inline-block;
  color: transparent;
  text-shadow: none;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  margin-right: 4px;
}

a.mime48,
b.mime48 {
  color: transparent;
  text-shadow: none;
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  margin: 2px 4px 2px 0px;
}

a.tei,
b.tei {
  background-image: url(icon_tei.svg);
}

a.html,
b.html {
  background-image: url(icon_html.svg);
}

a.epub,
b.epub {
  background-image: url(icon_epub.svg);
}

a.mobi,
b.mobi {
  background-image: url(icon_mobi.svg);
}

a.docx,
b.docx {
  background-image: url(icon_docx.svg);
}

a.pdf,
b.pdf {
  background-image: url(icon_pdf.svg);
}

a.a5,
b.a5 {
  background-image: url(icon_pdf-a5.svg);
}

a.brochure,
b.brochure {
  background-image: url(icon_pdf-brochure.svg);
}

a.tex,
b.tex {
  background-image: url(icon_tex.svg);
}
