---
---

@import "{{ site.theme }}";

* {

}

body {
  background: #fff;
}

.inner {
  width: 80ex;
}

#container {
  background: transparent;
}

a.file {
  color: transparent;
  text-shadow: none;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  margin-right: 4px;
}

a.tei {
  background-image: url(icon_tei.svg);
}

a.html {
  background-image: url(icon_html.svg);
}

a.epub {
  background-image: url(icon_epub.svg);
}

a.mobi {
  background-image: url(icon_mobi.svg);
}

